@media screen and (min-width: 640px) and (max-width: 767px) {
  .header {
    margin-left: -20px;
    margin-right: -20px !important;
    width: 103% !important;
    background-size: contain !important;
  }
  .header__link {
    ul {
      margin-left: 65%;
      list-style: none;
    }
    li {
      float: left;
      padding: 0 0 4% 11%;
    }
  }
  .header__logo {
    top: 0;
    img {
      margin-top: -3%;
      margin-left: 5%;
      width: 15% !important;
    }
  }
  .header__slogan {
    p {
      margin-top: -9.5%;
      margin-left: 9%;
      font-size: 1em;
    }
    span {
      position: relative;
      top: -15px;
      left: 81px;
      font-size: 1.85em;
    }
  }
  .header__menu {
    margin-top: 3%;
    margin-left: -2%;
    ul {
      margin-top: -2%;
      margin-left: 4%;
    }
    li {
      padding-right: 6.2%;
      > a {
        font-size: 1em;
      }
    }
    a.active {
      padding-left: 6px;
      padding-bottom: 9px;
      background-size: 65px;
    }
  }
  .header__heading {
    margin-top: 7%;
    margin-left: -1.2%;
    font-size: 2em;
  }
  .header__desctop {
    float: none;
    margin-top: 3%;
    margin-left: 7%;
    p {
      margin-top: 5%;
      margin-left: -1%;
      width: 94%;
      font-size: .9em;
    }
    ul {
      margin-left: -5.5%;
      width: 100%;
      > li {
        font-size: 1.2em;
      }
    }
  }
  .header__button img {
    margin-left: -1.5%;
    width: 90% !important;
  }
  #tab2__img {
    margin-top: -239px;
    margin-left: 80px;
  }
  .header__choose-devices {
    margin-top: 0;
    img {
      margin-top: -5.2%;
      margin-left: 6%;
      width: 83.5% !important;
    }
  }
  .title {
    margin-top: 71%;
    margin-left: 17%;
    margin-bottom: 2%;
    font-size: 2.7em;
  }
  .content__heading {
    margin-top: 7%;
    margin-bottom: 8%;
    margin-left: 1.8%;
    font-size: 2em;
  }
  .content__device img {
    margin-left: 11%;
    margin-bottom: 10%;
    padding-bottom: 4%;
    width: 70%;
    border-bottom: 1px solid Grey;
  }
  .footer {
    margin-top: 2%;
    margin-right: 0;
    padding-left: 7% !important;
  }
  .footer__about h3, .footer__download h3, .footer__touch h3 {
    margin-right: 8.5%;
    font-size: 80%;
  }
  .footer__download h3 {
    margin-top: 3.5%;
    margin-left: 11.2%;
  }
  .footer__touch h3 {
    margin-top: 3.3%;
  }
  .footer__about__text p {
    margin-top: 0;
    margin-left: 0;
    width: 200px;
    font-size: .6em;
  }
  .footer__download__list ul {
    list-style-image: none !important;
    list-style-type: disc;
    margin-top: .8%;
    margin-left: 10%;
    font-size: .7em;
  }
  .footer__touch__list ul {
    list-style-image: none !important;
    list-style-type: disc;
    margin-top: -29.7%;
    margin-left: 53.5%;
    font-size: .7em;
  }
  .footer__download__list ul > li, .footer__touch__list ul > li {
    margin-bottom: 3%;
  }
  .footer__copyright {
    margin-top: 3%;
    margin-bottom: 4%;
    p {
      margin-left: .2%;
      font-size: .75em;
    }
  }
}