@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    margin-left: -20px;
    margin-right: -20px !important;
    width: 102.7% !important;
    max-height: 680px;
    background-size: contain !important;
  }
  .header__link {
    ul {
      margin-left: 65%;
      list-style: none;
    }
    li {
      float: left;
      padding: 0 0 4% 11%;
    }
  }
  .header__logo {
    top: 0;
    img {
      margin-top: -3%;
      margin-left: 5%;
      width: 15% !important;
    }
  }
  .header__slogan {
    p {
      margin-top: -9.5%;
      margin-left: 10.9%;
      font-size: 1em;
    }
    span {
      position: relative;
      top: -15px;
      left: 81.7px;
      font-size: 1.85em;
    }
  }
  .header__menu {
    margin-top: 4%;
    margin-left: -2.5%;
    ul {
      margin-top: 2%;
      margin-left: 5%;
    }
    li {
      padding-right: 6.4%;
      > a {
        font-size: 1.2em;
      }
    }
    a.active {
      padding-left: 7px;
      padding-bottom: 11px;
      background-size: 75px;
    }
  }
  .header__heading {
    margin-top: 7%;
    margin-left: -1.2%;
    font-size: 2.2em;
  }
  .header__desctop {
    float: none;
    margin-top: 2%;
    margin-left: 7%;
    p {
      margin-top: 4%;
      margin-left: -1%;
      font-size: 1em;
    }
    ul {
      margin-left: -4.3%;
      width: 100%;
      > li {
        font-size: 1.3em;
      }
    }
  }
  .header__button img {
    margin-left: -1.5%;
    width: 68% !important;
    &:nth-child(1) {
      padding-bottom: .5%;
    }
  }
  #tab2__img {
    margin-top: -290px;
    margin-left: 100px;
  }
  .header__choose-devices {
    margin-top: 0;
    img {
      margin-top: -4.2%;
      margin-left: 6%;
      width: 83.5% !important;
    }
  }
  .title {
    margin-top: 70.5%;
    margin-left: 24.5%;
    margin-bottom: -3%;
    font-size: 2.7em;
  }
  .content__item-list__heading {
    margin-top: -59px;
    margin-left: 25px;
    width: 130px;
    font-size: 1em;
  }
  .content__item-list p {
    margin-top: -109px;
    margin-left: 2px;
    width: 145px;
  }
  .content__heading {
    margin-top: 1.5%;
    margin-bottom: 6%;
    margin-left: 2%;
    font-size: 2.1em;
  }
  .content__device img {
    margin-left: 15.5%;
    margin-bottom: 10%;
    padding-bottom: 4%;
    width: 60%;
    border-bottom: 1px solid Grey;
  }
  .footer {
    margin-top: 0;
    margin-right: 0;
    padding-left: 7% !important;
  }
  .footer__about h3, .footer__download h3, .footer__touch h3 {
    margin-right: 8.5%;
    font-size: 85%;
  }
  .footer__download h3 {
    margin-top: 2.9%;
    margin-left: 13.8%;
  }
  .footer__touch h3 {
    margin-top: 2.6%;
  }
  .footer__about__text p {
    margin-top: 0;
    margin-left: 0;
    width: 240px;
    font-size: .7em;
  }
  .footer__download__list ul {
    list-style-image: none !important;
    list-style-type: disc;
    margin-top: .8%;
    margin-left: 10%;
    font-size: .7em;
  }
  .footer__touch__list ul {
    list-style-image: none !important;
    list-style-type: disc;
    margin-top: -27.8%;
    margin-left: 53.5%;
    font-size: .7em;
  }
  .footer__download__list ul > li, .footer__touch__list ul > li {
    margin-bottom: 3%;
  }
  .footer__copyright {
    margin-top: 2.5%;
    margin-bottom: 4%;
    p {
      margin-left: .2%;
      font-size: .90em;
    }
  }
}