footer
    .row
        .col-lg-12.footer
            .row
                .col-lg-offset-1.col-lg-2.footer__about
                    h3 About close friends
                .col-lg-offset-4.col-lg-1.footer__download
                    h3 Download
                .col-lg-offset-1.col-lg-2.footer__touch
                    h3 Get in touch
            .row
                .col-lg-offset-1.col-lg-5.col-xs-5.footer__about__text
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d.
                .col-lg-offset-1.col-lg-2.footer__download__list
                    ul
                        li
                            a(href="javascript:void(0);") iOS App
                        li
                            a(href="javascript:void(0);") Android App
                        li
                            a(href="javascript:void(0);") Windows Phone App
                        li
                            a(href="javascript:void(0);") Windows App
                        li
                            a(href="javascript:void(0);") OSX App
                        li
                            a.hidden-xs.hidden-sm(href="javascript:void(0);") BleckBarry
                .col-lg-2.footer__touch__list
                    ul
                        li
                            a(href="javascript:void(0);") Contact Us
                        li
                            a(href="javascript:void(0);") Facebook
                        li
                            a(href="javascript:void(0);") Twitter
            .row
                .col-lg-offset-1.col-lg-2.footer__copyright
                    p &copy; 2015 Close Firends Inc


