header
    .row
        .col-lg-12.header
            .row
                .col-lg-offset-9.col-lg-3.header__link
                    ul
                        li
                            a(href="javascript:void(0);") Login
                        li
                            a(href="javascript:void(0);") FAQ
                        li
                            a(href="javascript:void(0);") Support
            .row
                .col-lg-offset-1.col-lg-1.header__logo
                    img(src="assets/images/cloud.png", alt="Тестовая верстка лендинга")
                .col-lg-1.header__slogan
                    p
                        span Close
                        Friends Friends
            .row
                .col-lg-offset-1.col-lg-11.header__menu
                    ul
                        li#active
                            a.active(href="javascript:void(0);") Desktop
                        li
                            a(href="javascript:void(0);") Web App
                        li
                            a(href="javascript:void(0);") iOS
                        li
                            a(href="javascript:void(0);") Android
                        li
                            a(href="javascript:void(0);") Windows Phone
                        li
                            a(href="javascript:void(0);") BlackBerry
            .row
                .col-lg-offset-1.col-lg-4.header__desctop
                    h2.header__heading Close Friends for Desktop
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
                    ul
                        li Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        li Sed do eiusmod tempor incididunt ut labore et dolore
                        li Magna aliqua. Ut enirm ad minim veriam, quis nostrud
                    .header__button
                        a.header__button_active(href="#tab1")
                            img(src="assets/images/os-x.png", width="300px", height="45px" alt="Тестовая верстка лендинга")
                        .clear
                        a(href="#tab2")
                            img(src="assets/images/windows.png", width="300px", height="45px" alt="Тестовая верстка лендинга")
                        br(clear="all")
                        br
                        br
                .col-lg-offset-1.col-lg-5.header__choose-devices
                    output
                        .header__choose-devices__tab#tab1
                            img(src="assets/images/os-x-desc.png", alt="Тестовая верстка лендинга")
                        .header__choose-devices__tab#tab2
                            img#tab2__img(src="assets/images/windows-desc.png", alt="Тестовая верстка лендинга")




















