main
    .content
        .row
            .col-lg-offset-4.col-lg-5
                h1.title Why Close Friends?
        .row.hidden-xs
            .col-sm-offset-1.col-sm-2.content__item-list
                img(src="assets/images/chat.png", width="90px", height="77px", alt="Тестовая верстка лендинга")
            .col-sm-offset-1.col-sm-2.content__item-list.content__item-list__theme
                img(src="assets/images/themes.png", width="70px", height="85px" alt="Тестовая верстка лендинга")
            .col-sm-offset-1.col-sm-2.content__item-list
                img(src="assets/images/sharing.png", width="90px", height="91px", alt="Тестовая верстка лендинга")
        .row.hidden-xs
            .col-sm-offset-1.col-xs-2.content__item-list
                h3.content__item-list__heading Everyday Chat
            .col-sm-offset-1.col-xs-3.content__item-list
                h3.content__item-list__heading Custom Themes
            .col-sm-offset-0.col-xs-2.content__item-list
                h3.content__item-list__heading Group Sharing
        .row.hidden-xs
            .col-sm-offset-1.col-xs-2.content__item-list
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d
            .col-sm-offset-1.col-xs-2.content__item-list
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d
            .col-sm-offset-1.col-xs-2.content__item-list
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d

        .row.hidden-xs.hidden-sm
            .col-sm-offset-1.col-sm-2.content__item-list
                img(src="assets/images/photo.png", width="110px", height="88px", alt="Тестовая верстка лендинга")
            .col-sm-offset-1.col-sm-2.content__item-list.content__item-list__location
                img(src="assets/images/location.png", width="70px", height="97px", alt="Тестовая верстка лендинга")
            .col-sm-offset-1.col-sm-2.content__item-list
                img(src="assets/images/messages.png", width="60px", height="106px", alt="Тестовая верстка лендинга", style="margin-left: 51px;")
        .row.hidden-xs.hidden-sm
            .col-xs-4.content__item-list
                h3.content__item-list__heading.content__item-list__heading_photo Share! Album, Photo or Video
            .col-xs-2.content__item-list
                h3.content__item-list__heading.content__item-list__heading_themes Share Your Location
            .col-xs-3.content__item-list
                h3.content__item-list__heading.content__item-list__heading_sharing Send Audio Messages
        .row.hidden-xs.hidden-sm
            .col-sm-offset-1.col-xs-2.content__item-list
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d
            .col-sm-offset-1.col-xs-2.content__item-list
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d
            .col-sm-offset-1.col-xs-2.content__item-list
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d

        .row
            .col-lg-offset-1.col-lg-10
                h2.content__heading Stay in touch with your friends no matter what device you use.
        .row.content__device
            .col-lg-offset-1.col-lg-2
                img(src="assets/images/device_1.png", width="100px", height="98px", alt="Тестовая верстка лендинга")
            .col-lg-2
                img(src="assets/images/device_2.png", width="100px", height="100px", alt="Тестовая верстка лендинга")
            .col-lg-2
                img(src="assets/images/device_3.png", width="100px", height="64px", alt="Тестовая верстка лендинга")
            .col-lg-2
                img(src="assets/images/device_4.png", width="80px", height="116px", alt="Тестовая верстка лендинга")
            .col-lg-2
                img(src="assets/images/device_5.png", width="60px", height="115px", alt="Тестовая верстка лендинга")








