doctype html
html(lang="ru")

    include ../blocks/heade.jade

    body
        .container
            include ../blocks/header.jade

            include ../blocks/main.jade

            include ../blocks/footer.jade