@font-face {
  font-family: ITC Benguiat Gothic Std Hvy;
  src: url(../fonts/BenguiatGothicStd-Heavy.otf);
}

@font-face {
  font-family: Chalet;
  src: url(../fonts/ChaletParisNineteenEighty.ttf);
}